/* light mode */
:root {
    --color-background: whitesmoke;
    --color-box: lightskyblue;
    --color-border: blue;
    --color-header: navy;
    --color-link: blue;
    --color-highlight: royalblue;
    --color-shadow: gray;
    --color-system: purple;
}
@media (prefers-color-scheme: light) {
    :root {
        --color-background: whitesmoke;
        --color-box: lightskyblue;
        --color-border: blue;
        --color-header: navy;
        --color-link: blue;
        --color-highlight: royalblue;
        --color-shadow: gray;
        --color-system: purple;
    }
}
/* dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: dimgray;
        --color-box: deepskyblue;
        --color-border: royalblue;
        --color-header: cyan;
        --color-link: royalblue;
        --color-highlight: blue;
        --color-shadow: lightgray;
        --color-system: violet;
    }
}

/* body */
body {
    background-color: var(--color-background);
}

/* header */
header {
	text-align: center;
}

/* header img */
.header-image {
	width: 100%;
	object-fit: cover;
}

/* container */
.container {
    display: flex;
    flex-flow: row wrap;
}
.container > div {
    flex: 1;
}

/* ul */
.box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

/* ui li */
.box li {
    display: inline-block;
    flex: 0 0 auto;
    list-style: none;
    margin: 2px 4px 2px 4px;
    white-space: nowrap;
    background-color: var(--color-box);
    border: 2px dotted var(--color-border);
    border-radius: 3px;
}

/* h1, h2, h3, h4 */
h1, h2, h3, h4, h5, h6 {
    margin: 4px;
    color: var(--color-header);
    text-shadow: var(--color-shadow) 1px 1px;
}

/* a */
a {
    color: var(--color-link);
}
a:link, a:visited {
    color: var(--color-link);
    transition: all 250ms 0s;
}
a:hover {
    color: var(--color-highlight);
}

/* span */
.system-info {
    color: var(--color-system);
}
