/* body */
body {
    background-color: whitesmoke;
}

/* header */
header {
	text-align: center;
}

/* header img */
.header-image {
	width: 75%;
}

/* ul */
.box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: auto;
}

/* ui li */
.box li {
    display: inline-block;
    flex: 0 0 auto;
    list-style: none;
    margin: 4px;
    white-space: nowrap;
    background-color: lightskyblue;
    border: 2px dotted blue;
    border-radius: 3px;
}

/* h1, h2, h3, h4 */
h1, h2, h3, h4 {
    color: navy;
    text-shadow: gray 1px 1px;
}

/* span */
.system-info {
    color: purple;
}

